/* ------------------------------------------------------------ *\
	Card
\* ------------------------------------------------------------ */

.card {
    box-shadow: 0px 0px 10px 0px #444343; 
    position: relative;
    padding: 80px 32px 30px;
    max-width: 353px;
    width: 100%;

     @media screen and (max-width: 1000px) {
         margin: 0 auto;
         margin-bottom: 70px;
        }

    @media screen and (max-width: 800px) {
            max-width: 310px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 70px;
        }

    .card__image {
        outline: 3px solid #008FC6;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        margin-top: -40px;
       
    }
    .card__image img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .card__image-quote {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -26px;
        padding-right: 15px;
    }

    .card__image-quote img {
        width: 50px;
    }

    .card__foot {
        color: #fff;
        background-color: #008FC6;
        max-width: 200px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        border-radius: 20px;
    }

    .card__entry {
        font-size: 21px;
        font-weight: 500;
        margin-bottom: 35px;
    }
}