/* ------------------------------------------------------------ *\
	Go top
\* ------------------------------------------------------------ */

.gotop {
    background-color: #008FC6;
    width: 35px;
    height: 35px;
    border-radius: 30%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 #83b4ec;
    transition: scale .3s ease-in-out;

    &:hover {
        scale: 1.1;
    }

    i {
        color: #fff;
    }
}