/* ------------------------------------------------------------ *\
	List ratings
\* ------------------------------------------------------------ */

.list-ratings {
	list-style: none;
	display: flex;

	li:not(:last-child) {
		margin-right: 5px;
	}
}
