/* ------------------------------------------------------------ *\
	Section faq
\* ------------------------------------------------------------ */

.section-faq {
    padding-block: 100px;
    position: relative;

     .section__image {
    	position: absolute;
    	top: 50%;
    	left: 0;
    	width: 100%;
    	height: 100%;
	}

    .section__content {
        position: relative;
    }

    .section__head {
        max-width: 700px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 70px;
    }

    h3 {
        text-transform: uppercase;
        font-weight: 700;
    }

    h2 {
        margin-bottom: 20px;
    }

    .section__entry {
        color: #706f7b;
        font-size: 16px;
    }
}