/* ------------------------------------------------------------ *\
	Section-team
\* ------------------------------------------------------------ */

.section-team {
    background-color: #67677f;;
    padding-block: 100px;

    .section__col {
        row-gap: 50px;
    }
}